using @(Model.CoreNamespace).Common.Model;

namespace @(Model.CoreNamespace).Domain.Model
{
    public class @(Model.EntityName) : IBaseEntity
    {
        public virtual long Id { get; set; }
    }
}
